{% include "common/header-css.html" %}
{% include "common/header.html" %}
<div class="container min-height">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for item in breadcrumbs %}
            <li class="breadcrumb-item {{ item.cl }}" aria-current="page"><a href="{{ item.url }}">{{ item.title }}</a></li>  
            {% endfor %}
        </ol>
    </nav>
    <div class="mt-2">
        {% for key,item in relationCategorys.items %}
        <a class="btn btn-sm text-secondary  {% if route_name == item.route_name %}btn-outline-secondary{% endif %}" href="{% url 'list' route_name=item.route_name %}" title="{{item.title}}">{{item.title}}</a>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="h4 pb-2 fw400">{{ chapter.title }}</h1>
                    <div class="author pb-2">
                        <div class="avatar"><img class="rounded-circle" src="{{ tuserInfo.photo }}" alt="{{ tuserInfo.username }}" title="{{ tuserInfo.username }}" /></div>
                        <div class="content">
                            <div class="title">{{ tuserInfo.username }}</div>
                            <div class="info">发表于 {{ chapter.addtime }}</div>
                        </div>
                    </div>
                    <div class="article_show_content lh30 common-content">
                        {{ chapterContent.content|safe }}
                    </div>
                    <div class="text-center">
                        <ul>
                            <li>
                                {% if prevChapter %}
                                <a class="text-danger" href="{% url 'detail_list' route_name=book.route_name third_id=book.book_id page=prevChapter.chapter_id %}" alt="{{ prevChapter.title }}" title="{{ prevChapter.title }}">【上一页】</a>
                                {% else %}
                                <a class="text-danger" href="###">【没有了】</a>
                                {% endif %}
                                <a class="text-danger" href="{% url 'detail' route_name=book.route_name third_id=book.book_id %}">【回目录】</a>
                                {% if nextChapter %}
                                <a class="text-danger" href="{% url 'detail_list' route_name=book.route_name third_id=book.book_id page=nextChapter.chapter_id %}" alt="{{ nextChapter.title }}" title="{{ nextChapter.title }}">【下一页】</a>
                                {% else %}
                                <a class="text-danger" href="###">【没有了】</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ts-nav-list">
                <div class="card-header pic-color pic-color-rec">
                    热门导航
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for key,category in hotCategorys.items %}
                        <div class="col-md-4 col-4">
                            <a href="{% url 'list' route_name=category.route_name %}">{{ category.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pic-color pic-color-hot">
                    热门图书
                </div>
                <div class="card-body">
                    <div class="chapter-list-sidebar">
                        {% for item in hotBooks %}
                        <div>
                            <a class="avatar"
                                href="{% url 'detail' route_name=item.route_info.route_name third_id=item.book_id %}"><img
                                    src="{{item.cover}}" alt="{{item.title}}" title="{{item.title}}" /></a>
                            <a class="title"
                                href="{% url 'detail' route_name=item.route_info.route_name third_id=item.book_id %}">{{item.title}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pic-color pic-color-new">
                    最新图书
                </div>
                <div class="card-body">
                    <div class="chapter-list-sidebar">
                        {% for item in newBooks %}
                        <div>
                            <a class="avatar" href="{% url 'detail' route_name=item.route_info.route_name third_id=item.book_id %}"><img src="{{item.cover}}" alt="{{item.title}}" title="{{item.title}}" /></a>
                            <a class="title" href="{% url 'detail' route_name=item.route_info.route_name third_id=item.book_id %}">{{item.title}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "common/footer.html" %}
{% include "common/footer-js.html" %}