<div class="card">
    <div class="card-body">
        <p>衷心欢迎您光临爱嗨网！(<a class="text-secondary" target="_blank" href="https://www.guiaihai.com">https://www.guiaihai.com</a>)</p>

        <p>联系地址： 互联网</p>
        <p>联系人： 秋风</p>
        <p>联系邮箱： 370838500@qq.com</p>
        <p>在线QQ： <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=370838500&site=qq&menu=yes"><img src="http://m-guiaihai.com/static/image/qq.png" alt="https://www.guiaihai.com网" title="爱嗨网"/></a></p>
    </div>
</div>