{% include "common/header-css.html" %}
{% include "common/header.html" %}
<div class="container min-height">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for item in breadcrumbs %}
            <li class="breadcrumb-item {{ item.cl }}" aria-current="page"><a href="{{ item.url }}">{{ item.title }}</a></li>  
            {% endfor %}
        </ol>
    </nav>
    <div class="mt-2">
        {% for key,item in relationCategorys.items %}
        <a class="btn btn-sm text-secondary  {% if route_name == item.route_name %}btn-outline-secondary{% endif %}" href="{% url 'list' route_name=item.route_name %}" title="{{item.title}}">{{item.title}}</a>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="h4 pb-2 fw400">{{ article.title }}</h1>
                    <div class="author pb-2">
                        <div class="avatar"><a href="https://www.guiaihai.com/user/10035.html"><img class="rounded-circle" src="{{ tuserInfo.photo }}" alt="{{ tuserInfo.username }}" title="{{ tuserInfo.username }}" /></a></div>
                        <div class="content">
                            <div class="title"><a href="https://www.guiaihai.com/user/10035.html">{{ tuserInfo.username }}</a></div>
                            <div class="info">发表于 {{ chapter.addtime }}</div>
                        </div>
                    </div>
                    <div class="article_show_content lh30 common-content">
                        {{ article.content|safe }}
                    </div>
                    {{ page|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ts-nav-list">
                <div class="card-header">
                    热门导航
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for key,category in hotCategorys.items %}
                        <div class="col-md-4 col-4">
                            <a href="{% url 'list' route_name=category.route_name %}">{{ category.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">热门{{ tag_name}}  </div>
                <div class="card-body">
                    <ul class="wenzhang-list">
                        {% for item in hotArticles %}
                        <li>
                            <a href="{% url 'detail' route_name=item.route_info.route_name third_id=item.article_id %}">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header"> 最新{{ tag_name}}   </div>
                <div class="card-body">
                    <ul class="wenzhang-list">
                        {% for item in newArticles %}
                        <li>
                            <a href="{% url 'detail' route_name=item.route_info.route_name third_id=item.article_id %}">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "common/footer.html" %}
{% include "common/footer-js.html" %}